.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .logo-container {
      margin-top: 24px;
      margin-bottom: 64px;
  
      svg {
        width: 100%;
        max-width: 393px;
      }
    }
  
    .icones-social {
      margin-bottom: 64px;
  
      svg {
  
        margin-left: 16px;
      }
    }
  
    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 64px;
  
      .titulo {
        color: #ffffff;
        font-family: Open Sans, var(--default-font-family);
        font-size: 16px;
        font-weight: 600;
        line-height: 11px;
      }
  
      .texto{
        color: #ffffff;
        font-family: Open Sans, var(--default-font-family);
        font-size: 14px;
        font-weight: 400;
        line-height: 10px;
        margin-top: 16px;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }