@import "../../styles/variables";


.faixa-cep {
  width: 100%;
  display: flex;
  position: relative;
  background-color: $primary-color;
  justify-content: center;
  align-items: center;
  color: var(--0, #fff);
  font-family: "Open Sans", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  padding-top: 10px;
  padding-bottom: 10px;

  &__container{
    position: relative;
    display: flex;
  }

  &__cidade{
    text-decoration: underline;
  }

  &__alterar{
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.div {
  justify-content: center;
  align-items: center;
  background-color: var(--Bebec-Vermelho, #b11b26);
  display: flex;
  max-width: 393px;
  font-size: 12px;
  color: var(--0, #fff);
  font-weight: 400;
  padding: 10px 24px;
}
.div-2 {
  display: flex;
  gap: 10px;
}
.div-3 {
  font-family: Open Sans, sans-serif;
  text-decoration-line: underline;
}
.div-4 {
  font-family: Open Sans, sans-serif;
  text-decoration-line: underline;
}